{% extends "base.html" %}
{% block content %}
<!--<h4 style="color:#FFCC00;size: 64px;text-align: center;padding-bottom: 8px;padding-top: 5px;">Note: Website under construction</h4>-->
<!--<h2 style="color:#FFCC00;size: 64px;text-align: center;padding-bottom: 8px;padding-top: 5px;">Generate New Seed</h2>-->

<!-- Flag Customization -->
<div class="flagtabs" id="menu">
  <!-- Main -->
  <input type="radio" id="main" name="flagtabs" checked="checked">
  <label for="main" id="main-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Main</label>
  <div class="tab">
    <div id="main-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
  <!-- Attacks -->
  <input type="radio" id="attacks" name="flagtabs">
  <label for="attacks" id="attack-label" data="active" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Attacks</label>
  <div class = "tab">
    <div id="attack-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
  <!-- Throws -->
  <input type="radio" id="throws" name="flagtabs">
  <label for="throws" id="throw-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Throws</label>
  <div class = "tab"> 
    <div id="throw-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
  <!-- Elements -->
  <input type="radio" id="elements" name="flagtabs">
  <label for="elements" id="element-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Elements</label>
  <div class = "tab"> 
    <div id="element-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
  <!-- Attributes -->
  <input type="radio" id="attributes" name="flagtabs">
  <label for="attributes" id="attribute-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Attributes</label>
  <div class = "tab">
    <div id="attribute-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
  <!-- Chaos-->
  <input type="radio" id="chaos" name="flagtabs">
  <label for="chaos" id="chaos-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Chaos</label>
  <div class = "tab">
    <h3 style="background:none;text-align: center;margin-top: 10px;margin-left: 10px;margin-right: 10px;">Chaos will randomize values to completely new values, disregarding the original value.</h4>
    <div id="chaos-tab" style="display:flex;flex-wrap:wrap;">
    </div>
    <div id="chaos-tab-attack" style="display:flex;flex-wrap:wrap;">
    </div>
    <div id="chaos-tab-throw" style="display:flex;flex-wrap:wrap;">
    </div>
    <div id="chaos-tab-attribute" style="display:flex;flex-wrap:wrap;"></div>
  </div>
  <!-- Fighters -->
  <input type="radio" id="fighter" name="flagtabs">
  <label for="fighter" id="fighter-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Fighters</label>
  <div class = "tab" id="fighter-tab">
    <h3 style="background:none;text-align: center;margin-top: 10px;margin-left: 10px;margin-right: 10px;">Adjustments to specific fighters can be made. Properties will be multiplied by the percentage specified, AFTER all other randomization.</h4>
    <div style="display:flex;margin-bottom:20px" id="fighter-select-tab">
      <h3 style="background:none;text-align: left;margin-left: 28px;">Fighter</h3>
      <select id="fighter-select" style="margin-left:20px;width: 300px;height:50px;font-size: 24px;font-family:Galliard">
        <option value="bowser">Bowser</option>
        <option value="captain_falcon">Captain Falcon</option>
        <option value="dk">Donkey Kong</option>
        <option value="dr_mario">Dr. Mario</option>
        <option value="falco">Falco</option>
        <option value="fox">Fox</option>
        <option value="game_and_watch">Mr. Game & Watch</option>
        <option value="ganondorf">Ganondorf</option>
        <option value="popo">Popo</option>
        <option value="nana">Nana</option>
        <option value="jigglypuff">Jigglypuff</option>
        <option value="kirby">Kirby</option>
        <option value="link">Link</option>
        <option value="luigi">Luigi</option>
        <option value="mario">Mario</option>
        <option value="marth">Marth</option>
        <option value="mewtwo">Mewtwo</option>
        <option value="ness">Ness</option>
        <option value="peach">Peach</option>
        <option value="pichu">Pichu</option>
        <option value="pikachu">Pikachu</option>
        <option value="roy">Roy</option>
        <option value="samus">Samus</option>
        <option value="sheik">Sheik</option>
        <option value="yoshi">Yoshi</option>
        <option value="young_link">Young Link</option>
        <option value="zelda">Zelda</option>
        <option value="boy">Male Wireframe</option>
        <option value="girl">Female Wireframe</option>
        <option value="giga_koopa">Giga Bowser</option>
        <option value="master_hand">Master Hand</option>
        <option value="crazy_hand">Crazy Hand</option>
      </select>
    </div>
    <div id="fighter-tab-attack" style="display:flex;flex-wrap:wrap;">
    </div>
    <div id="fighter-tab-throw" style="display:flex;flex-wrap:wrap;">
    </div>
    <div id="fighter-tab-attribute" style="display:flex;flex-wrap:wrap;">
    </div>
    <div id="fighter-tab-special" style="display:flex;flex-wrap:wrap;">
    </div>
  </div>
  <!-- Gecko -->
  <input type="radio" id="gecko" name="flagtabs">
  <label for="gecko" id="gecko-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Gecko</label>
  <div class = "tab">
    <div id="gecko-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
  <!-- Secret -->
  <input type="radio" id="secrets" name="flagtabs">
  <label for="secrets" id="secret-label" data="inactive" onmouseover="highlight(this)" onmouseout="removeHighlight(this)" onmousedown="setActive(this)">Special</label>
  <div class = "tab">
    <div id="secret-tab" style="display:flex;flex-wrap:wrap;"> 
    </div>
  </div>
</div>

<!-- Flags and Submit -->
<form method=post enctype=multipart/form-data>
  <div class="button-submit">
    <input type="image" name="submit" onclick="uploadFlags()" src="{{url_for('static', filename='button.png')}}" alt="submit" id="button-submit">
    <div class="overlay" id="overlay">Generate</div>
  </div>
  <div>
    <textarea id="flags" name="flags" hidden></textarea> 
  </div>
</form>
<!-- "Generating" message-->
<div style="display:none" id="generating-message">
  <img src="{{url_for('static', filename='transparent.png')}}" style="position:fixed;top:0;left:0;overflow: hidden;">
  <h2 style="color:#FFCC00;size: 64px;position: absolute;top:45%;text-align: center;width: 100%;">Generating Seed - Please Wait</h2>
  <div class="spinner-border text-success" role="status" style="size: 64px;position: absolute;top:50%;left:49%;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<script src="{{url_for('static', filename='tabs.js')}}"></script>
<script src="{{url_for('static', filename='customize.js')}}"></script>
{% endblock %}

